<!DOCTYPE html>
<html>
  <head>
    <title>Gerador de imagem</title>
  </head>

  <body>
    <main class="image-generation">
      <h1>Gerador de imagem</h1>
      <form method="post" class="form_generation">
        <input type="text" name="prompt" id="prompt" placeholder="Descreva a imagem desejada">

        <button type="submit" class="button">Gerar imagem</button>
      </form>

      <div class="result">
        <!-- As imagens geradas serão exibidas aqui -->
      </div>

      <div id="message"></div>
    </main>

    <%= javascript_pack_tag 'image_generations' %>
  </body>
</html>
