<!DOCTYPE html>
<html>
  <head>
    <title>Gerador de imagem</title>
  </head>

  <body>
    <main class="image-generation">
      <h1>Gerador de imagem</h1>
      <%= form_tag('/image_generation', method: :post, class: 'form_generation', id: 'image-generation-form') do %>
        <%= text_field_tag('prompt', nil, placeholder: 'Descreva a imagem desejada') %>

        <%= submit_tag('Gerar imagem', class: 'button') %>
      <% end %>
      <div class="result">
        <!-- As imagens geradas serão exibidas aqui -->
      </div>

      <div id="message"></div>
    </main>
    <%= javascript_pack_tag 'image_generations' %>
  </body>
</html>
