<!DOCTYPE html>
<html>
  <head>
    <title>Variação de imagem</title>
  </head>

  <body>
    <main class="image-variants">
      <h1>Variação de imagem</h1>
      <form enctype="multipart/form-data" id="image-variants-form">
        <input type="file" name="image" id="image-file-input">

        <button type="submit" class="button">Gerar variações</button>
      </form>
      <ul class="result" id="variants">
        <!-- A imagens geradas serão exibidas aqui -->
      </ul>
      
      <div id="message"></div>
    </main>
    <%= javascript_pack_tag 'image_variants' %>

  </body>
</html>
